body{
	background: #2b2b2b;
}
ol,ul{
    color: #fff;
}
.position-relative{
	position: relative;
}

.corners {
    width: 80px;
    height: 68px;
    z-index: 1;
    position: absolute;
}

.top_left {
    background: url(../../../images/main_top_left.png) no-repeat;
    left: 0;
}

.top_right {
    background: url(../../../images/main_top_right.png) no-repeat;
    right: 0;
}

.bottom_left {
    background: url(../../../images/main_bottom_left.png) no-repeat;
    left: -1px;
    bottom: -90px;
}

.bottom_right {
    background: url(../../../images/main_bottom_right.png) no-repeat;
    right: 1px;
    bottom: -90px;
}

.top_border {
    height: 63px;
    position: absolute;
    background: url(../../../images/border_bg.png) repeat-x;
    top: -23px;
    left: 80px;
    width: 90%;
    z-index: 9;
}

.bottom_border {
    height: 40px;
    position: absolute;
    background: url(../../../images/border_bg_bottom.png) repeat-x;
    bottom: -90px;
    left: 79px;
    width: 94%;
}

.border-left {
    background: url(../../../images/border_bg_left.png) repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    left: -27px;
    position: absolute;
    top: 68px;
    width: 82px;
    z-index: 9;
}

.border-right {
    background: url(../../../images/border_bg_right.png) repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    right: 0px;
    position: absolute;
    top: 30px;
    width: 45px;
    z-index: 9;
}

.body-flex-wrapper-style{
	width: 100%;
	height: auto;
}

.body-flex-wrapper-style > .container-fluid{
	margin-top: 40px;
}

#custom-framing-wrapper #bg-wrapper{
	background: transparent;
}

.header_container {
    width: 95%;
    float: left;
    height: 70px;
    line-height: 70px;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 30px;
}

.logo_container a {
    color: #58595b;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}

.upper_section {
    float: right;
    margin-right: 20px;
}

.hot_line {
    float: left;
    font-size: 25px;
    text-shadow: 0 -1px 0 #ccc;
}

.hot_line a {
    text-decoration: none;
    color: #ff7722;
}

ul.top_menu {
    float: left;
    margin: 0;
    padding: 0;
}

ul.top_menu li {
    list-style: none;
    float: left;
}
ul.top_menu li a {
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
    font-family: 'Arial';
    color: #fff;
}

ul.top_menu li:first-child a {
    border-left: 1px solid rgba(200,200,200,1);
    padding-left: 15px;
}
.my_bag_container {
    float: left;
    margin-left: 15px;
}

.my_bag_container a {
    font-size: 14px;
    border-left: 1px solid rgba(200,200,200,1);
    padding-left: 15px;
    text-decoration: none;
    font-family: 'Arial';
    color: #fff;
}

.header_address {
    width: 100%;
    float: left;
    margin-top: -35px;
}

.header_address p {
    color: #fff;
    text-align: right;
    margin-right: 20px;
}

p{
	color: #fff;
}

.footer_container {
    border-top: 1px solid rgba(168, 124, 79, .2);
    margin-top: 30px;
    border-bottom: 1px solid rgba(168, 124, 79, .2);
    width: 95%;
    float: left;
    height: 85px;
    padding: 15px 0;
    line-height: 2em;
    margin-left: 30px;
}

.footer_logo a {
    font-size: 20px;
    margin-left: 20px;
}

ul.footer_menu {
    margin: 12px 0px 0px 0px;
    padding: 0;
    float: right;
}

ul.footer_menu li {
    list-style: none;
    float: left;
}

ul.footer_menu li a {
    margin-left: 30px;
    font-size: 14px;
    color: #fff;
}

a.developer_company {
    width: 100%;
    float: left;
    text-align: right;
    font-size: 12px;
    padding: 10px 40px;
    color: #fff;
    margin-bottom: -30px;
}